@import "values";
@import "mixins";

#footer {  background:#2f3434; z-index:1; position: relative; }
.inner-footer-wrapper .skeleton{ padding:30px 0; }

#footer-menu { background:#323736;  padding:25px 0; }

#footer-menu p.footer-text { float: left; color:#fff; font-size:12px;  }
#footer-menu p.footer-text a { color:inherit; text-decoration: underline; }

div.inner-footer-wrapper.page-content { margin: 0; border-bottom:1px solid #394040;  }
div.inner-footer-wrapper.page-content  .col { margin-bottom: 0; }

#footer-menu .menu { float: right; margin:0; padding:7px 0 0 0; }
#footer-menu .menu li { float: left; list-style:none; margin:0; padding:5px 10px;  }
#footer-menu .menu li a { color:#fff;  text-decoration:none; border-bottom:1px solid transparent; font-size:11px;  }
#footer-menu .menu li:first-child a { border-left: none; }
#footer-menu .menu li a:hover {
  transition-property:border-bottom-color;
  transition-duration: 0.7s;
  border-bottom-color: #666;
}

a.back-to-top {  position: fixed; bottom:40px; right:40px; opacity:0.9; background:$palette_color_2; color:#fff; z-index:100; padding:17px 20px; display: none; border-radius:2px; }
#lang_sel_footer { background:$palette_color_1;  padding:5px 0; font-family:inherit; border-top:1px solid #333; }
#lang_sel_footer a { color:#fff; text-decoration:none; border-bottom:1px solid transparent; font-size:11px; }
#lang_sel_footer a:hover {
  transition-property:border-bottom-color;
  transition-duration: 0.7s;
  border-bottom-color: #666;
}

.mobile_footer_widget { display: none; }