@import "values";
@import "mixins";

/**
 * General Posts Stylings
 */

ul.posts { margin: 0; padding: 0; }
ul.posts li a { border-bottom:none; }
ul.posts li { margin: 0; padding: 0; list-style: none;  position: relative;  }
ul.posts li div.image { position: relative;  }
ul.posts li div.image img { display: block; margin:0 auto; height:auto; max-width:100%; }
ul.posts li div.image a.hover { display: none; position: absolute; top:0; left:0; width: 100%; height: 100%; z-index: 2; background: #08dcd0; opacity: 0.9; }
ul.posts li div.image a.imageholder { display: block; }
ul.posts li div.image a.imageholder img { display: block; }
ul.posts li.first { clear: left; margin-left: 0; }
ul.posts li.last { clear: right; margin-right: 0; }


ul.posts h2 a {  color: #333333;  text-decoration: none; }


ul.posts div.extras { line-height: 1.3;   color: #999; font-size: 11px; margin:5px 0 5px 0; font-weight: 100; }
ul.posts div.extras a { color: #999; text-decoration: none; }

ul.posts-list div.image , ul.thumb-list div.image { float: left; position: relative; }
ul.posts-grid , ul.posts-list , ul.thumb-list   { margin: 0; padding: 0; }
ul.posts-grid {  padding-top: 1px; }
ul.posts-grid div.extras i { color:$dc; margin-right: 4px; }
ul.posts-grid li{ list-style: none; padding: 0;  position: relative; margin:0; }

ul.posts-grid li span.spacer { display: block; width: 30px; height: 0; border-bottom:2px solid #ddd; margin-bottom: 5px; margin-top: 3px; }
ul.posts-grid li div.inner-item-wrap { margin: 0 ; background:#fff;  }
ul.posts-grid li.first { margin-left: 0; }
ul.posts-grid li.last { margin-right: 0; }
ul.posts-grid h2 { line-height: 1.3;   display: block; font-weight: 700; font-size: 19px; margin-bottom: 0;  }
ul.posts-grid h2 a {  color:$palette_color_1; text-decoration: none; }
ul.posts-grid li div.image {  overflow:hidden; border:1px solid #f4f4f4; padding: 4px; }

ul.post-grid-1cols li { float: none; margin-left: 0; margin-right: 0; }
ul.post-grid-2cols li { float: left; width:49.9%; }
ul.post-grid-3cols li { float: left; width:33.2%; }
ul.post-grid-4cols li { float: left; width:24.9%; margin: 0; }
ul.post-grid-5cols li { float: left; width:19.9%; }
ul.post-grid-6cols li { float: left; width:16.6%; }

ul.post-grid-6cols.posts-grid li a.hover .hover-link { padding: 10px 0; width: 35px; }   

ul.post-grid-2cols li div.inner-item-wrap,
ul.post-grid-3cols li div.inner-item-wrap,
ul.post-grid-4cols li div.inner-item-wrap,
ul.post-grid-5cols li div.inner-item-wrap,
ul.post-grid-6cols li div.inner-item-wrap { margin:0px 5px; }

.has-sidebar ul.post-grid-4cols li { float: left; width:162px; }

ul.posts-grid li a.hover { z-index:1; background:#61c4d9; display: none;  position: absolute;top:0; left:0; width: 100%; height:100%; bottom:28px;  }
ul.posts-grid li a.hover .hover-link { box-shadow:0px 0px 15px rgba(0,0,0,0.2); position: absolute; top:42%; left:42%; background:#fff; font-size: 14px; color:#444; padding:15px 0; width:45px; text-align: center; border-radius:100%; display: block; text-decoration:none; }




ul.posts-grid li div.desc  { line-height:1.7;   color:#777; margin:0; font-size: 12px; padding: 15px 0;  }
ul.posts-grid li div.desc p { margin-bottom: 0; margin-top: 5px; }
.first ul.thumb-list  { margin-left: 0; }
.last ul.thumb-list  { margin-right: 0; }

ul.thumb-list li h2 {  margin: 4px 0 0px 0;  font-size: 13px; padding:5px 0px 0px 0px; line-height: 1.1;  font-weight:700; display: inline-block; }
ul.thumb-list li h2 a {  color:#646464; font-weight: 700; border-bottom:1px solid transparent;  }
ul.thumb-list li h2 a:hover { border-bottom:1px solid #ccc; }

ul.post-grid-6cols li h2 {  margin:0; line-height: 1.3;  }
ul.post-grid-6cols li h2 a {  font-size: 13px; display: block; text-decoration: none; }

ul.post-grid-5cols li h2 {  margin:0 0 15px 0; line-height: 1.3; text-decoration: none; }
ul.post-grid-5cols li h2 a {  font-size: 14px; display: block; text-decoration: none;}

ul.post-grid-4cols li h2 {  margin:0 0 5px 0; line-height: 1.3;   }
ul.post-grid-4cols li h2 a {  font-size: 14px; display: block; text-decoration: none; }

ul.post-grid-3cols li h2 {  margin:0 0 5px 0; line-height: 1.3;   }
ul.post-grid-3cols li h2 a {  font-size: 15px; display: block; text-decoration: none; }

ul.post-grid-2cols li h2 {  margin:0 0 5px 0; line-height: 1.3;   }
ul.post-grid-2cols li h2 a {  font-size: 16px; display: block; text-decoration: none; }

ul.thumb-list li { border-bottom: 1px solid #f4f4f4; padding: 8px 0 18px 0; }
ul.thumb-list li div.desc p { line-height: 1.6; margin: 0;  }
ul.thumb-list li:last-child { border-bottom: none }

ul.thumb-list div.image { float: left; margin-right: 15px; width: 50px; margin-top: 8px; border:1px solid #f4f4f4; padding: 4px; }
ul.thumb-list div.desc { float: left; width: 50%;  font-size: 12px; }

.one_fifth ul.thumb-list div.image , .sidebar-layout .one_fourth ul.thumb-list div.image ,.sidebar-layout .one_fifth ul.thumb-list div.image  { width: 30px; }

ul.plain-list { margin-top: 15px; }
ul.plain-list li { border-bottom:1px solid #f4f4f4; padding-bottom: 10px; margin-bottom: 10px; }
ul.plain-list li h2 {  margin: 0 0 0px 0; padding:5px 0px 0px 0px; line-height: 1.1; display: block; font-weight:700; }
ul.plain-list li h2 a {  font-size: 13px; display: block; }
ul.plain-list li p { margin: 0; font-size: 12px; }

ul.shortcode-post-filter { padding: 0; margin: 0 0 15px 0; }
ul.shortcode-post-filter li { float: left; margin: 0; padding: 3px 20px; list-style:none; }
ul.shortcode-post-filter li a { text-decoration: none;  font-size: 11px; color:#888; }
ul.shortcode-post-filter li.active { background:$palette_color_2; color:#fff; border-radius:2px; }
ul.shortcode-post-filter li.active a { color:#fff; }