@import "values";
@import "mixins";

.quartz { margin:0px auto 0px auto; position:relative;  padding:0; width:600px; max-width: 100%; visibility:hidden; opacity:0;  }

.quartz div.items-holder { position: relative;  border:none; width:100%; min-height:50px;  overflow:hidden;  z-index:2;  }
.quartz div.slider-item {  position:absolute; top:0; left:0; bottom:0; border:none;  margin:0; padding:0; display:block; width:100%;  z-index:1; }
.quartz div.slider-item>a {  margin:0; padding:0; outline:none; border:none; text-decoration:none; display:block; width:100%;  }
.quartz div.slider-item img { margin:0 auto; padding:0; display:block; max-width:100%; min-height:100%; height:auto;  position:relative; z-index:1; }
.quartz div.slider-item video ,
.quartz div.slider-item iframe,
.quartz div.slider-item object,
.quartz div.slider-item embed {position: absolute;top: 0;left: 0; border:none; outline:none; }

.quartz.full-stretch div.slider-item img {  width: 100%;   min-width: 100%;
  min-height: 100%; }

.quartz.adaptive div.slider-item img { min-height:0; height:auto; min-height:0; }
.quartz.adaptive div.slider-item { height:auto; }
.quartz div.slider-item.hidden { z-index:2; display: none;  }
.quartz div.slider-item.active { z-index:17;  }
.quartz div.slider-item.reset { z-index:5; }

div.slider-desc h4 { opacity:0.9; top:0px; background:#fff; left:20px; margin-top: 0; display: inline-block; font-weight: 400; font-size: 17px; line-height: 1.6;    padding: 2px 5px; position: absolute; }
div.slider-desc div.caption { opacity:0.9;  background:#fff; top:41px; left:20px; margin-top: 0;  padding:15px; position: absolute; max-width: 50%;  }
div.slider-desc { position: absolute; top:19%; width: 100%; left:0; z-index: 40;  font-size: 12px; display: none;  }
div.slider-desc a.read-more { background:#333; color:#fff; }
.quartz .quartz-bullets-wrap {  position: absolute;  height:30px; z-index: 100; }
.quartz ul.quartz-bullets {  position: relative;  top:-30px; border-radius:3px; margin:0 0 ; padding:8px 4px 8px 8px; background:#fff;  z-index:4; display: inline-block; }

.quartz ul.quartz-bullets li { margin-right: 4px; cursor:pointer; border:2px solid #888; border-radius:100%; float: left; list-style:none; position: relative; width:8px; height:8px; padding:0px;  }
.quartz ul.quartz-bullets li.active  { background: #222; border-color:#222; }

.quartz span.progress-bar { position: absolute; bottom:0; left:0; width:0px; z-index:100; height:4px; background: #4fb8e3; opacity:1; display: block; }

div.quartz-controls-wrap {  position:absolute;  bottom:0px; left:0px;  z-index: 99; }
div.quartz-controls-wrap > a { position: relative;text-decoration: none; opacity:0.95; float: left;  background: #fff; text-align: center; color:$palette_color_2; font-size: 14px; width: 40px; padding:20px 0 21px 0; line-height:0px; display: block; z-index: 100; }
div.quartz-controls-wrap > a:hover { opacity: 1; }
a.quartz-prev { }
a.quartz-next { bottom:0px; right:0px; }

.quartz a.thumb-arrow-left { bottom:0px; left:0; background: #4fb8e3; text-align: center; color:#ffffff; font-size: 18px; width:20px; padding:20px 0 30px 0; line-height:0px; display: block; z-index: 100; position:absolute; }
.quartz a.thumb-arrow-right { bottom:0px; right:0; background: #4fb8e3; text-align: center; color:#ffffff; font-size: 18px; width:20px; padding:20px 0 30px 0; line-height:0px; display: block; z-index: 100; position:absolute; }

/**
 * Revolution Slider
 */

div.top-layered-slider .tp-bullets								{	z-index:100; position:absolute;
												-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
												-moz-opacity: 0.8;
												-khtml-opacity: 0.8;
												opacity: 0.8; min-width:57px;
												-webkit-transition: opacity 0.2s ease-out; -moz-transition: opacity 0.2s ease-out; -o-transition: opacity 0.2s ease-out; -ms-transition: opacity 0.2s ease-out;
											}

div.top-layered-slider .tp-bullets.simplebullets.round .bullet					{ border-radius:100%;	cursor:pointer; position:relative;	background:#fff; border:3px solid #fff;	width:7px;	height:7px;  margin-right:3px; float:left; margin-top:-10px; margin-left:0px;}
div.top-layered-slider .tp-bullets.simplebullets.round .bullet.last			{	margin-right:0px;}

.tp-bullets.simplebullets.round-old .bullet				{	cursor:pointer; position:relative;	background:#222;	width:16px;	height:16px; margin-right:0px;  margin-top:-12px;}
.tp-bullets.simplebullets.round-old .bullet.last		{	margin-right:0px;}

div.top-layered-slider .tp-bullets.simplebullets.round .bullet.selected { background:#000; }


/*************************************
	-	TP ARROWS 	-
**************************************/


div.top-layered-slider .tp-leftarrow.default		{	opacity:0.7; z-index:100;cursor:pointer; position:relative;	background:url(sprites/i/rev_arrl.png) no-repeat 0 0;	width:40px;	height:40px;

														}
div.top-layered-slider .tp-rightarrow.default			{opacity:0.7; 	z-index:100;cursor:pointer; position:relative;	background:url(sprites/i/rev_arrr.png) no-repeat 0 0;	width:40px;	height:40px;

														}




div.top-layered-slider .tp-leftarrow:hover,
div.top-layered-slider .tp-rightarrow:hover 		{	opacity:1; }




/**
 * Custom Classes for layered slider
 */

h3.intro-heading { font-size:40px; font-weight:400; color:#fff; background:#3d4347; padding: 16px 12px; letter-spacing:-1px; display: inline-block; }
h4.sub-intro-heading { font-size:22px; font-weight:400; color:#fff; background:#3d4347; padding: 13px 12px; letter-spacing:0px; display: inline-block; }
h6.intro-feature-list { font-size:15px; font-weight:400; color:#333; background:#fff; padding: 11px 12px; letter-spacing:0px; display: inline-block; }
h6.intro-feature-list1 { font-size:15px; font-weight:400; color:#fff; background:#617570; padding: 11px 12px; letter-spacing:0px; display: inline-block; }
a.layered-buy-now { font-size:15px; width:130px; text-align: center; text-decoration: none; font-weight:400; color:#fff!important; background:#dc0606; padding: 15px 22px; letter-spacing:0px; display: inline-block; }
a.layered-learn-more { font-size:15px; width:130px; text-align: center; text-decoration: none; font-weight:400; color:#fff!important; background:#06bbdc; padding: 15px 22px; letter-spacing:0px; display: inline-block; }