$themename : "limitless";
$description : "Limitless is a Multipurpose Drag n Drop theme.";
$version : "1.5.2";

$cpath : "sprites/stylesheets/";

$background_color : #ffffff;

$palette_color_1 : #1f2323; 
$palette_color_2 : #44aacc;
$palette_color_3 : #3f8faa;
$palette_color_4 : #18b0e8;
$palette_color_5 : #ffffff;

$dc : #44aacc;

$body_font_size : 13;

$title_color : #596a67;
$color : #444444;
$link_color:  #333333;
$sidebar_link_color :#647a7a;
$sidebar_hover_color :$palette_color_2;
$footer_link_color : $palette_color_5;

$h1 : 48;
$h2 : 36;
$h3 : 32;
$h4 : 24;
$h5 : 18;
$h6 : 15;

